/*   
Project Name: Breakdance: battles 1vs1
Project URI: https://bb1vs1.ru/
Version: 1.0
*/




/* =Reset
----------------------------------------------- */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body { font-size: 14px; line-height: 1.4; }
body, button, input, select, textarea { font-family:sans-serif; }
div {display:block;}
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
.hidden { display:none; visibility:hidden; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }
* {margin:0; padding:0;}




/* =Main
----------------------------------------------- */
body {background:white;}
object {background:black; display:block; color:#efc10b; width:810px; height:675px; border:none; overflow:hidden;}
.go-down {width:810px; height:54px; clear:both; overflow:hidden; position:relative;}
.user-id {position:absolute; right:18px; top:18px; width:180px; height:18px; font:bold 12px/18px Arial, Helvetica, sans-serif; text-align:right; color:#909090;}
#vk_like {margin-left:18px; margin-top:16px;}